<configuration>
    <!-- STDOUT (kalsın) -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp />
                <pattern>
                    <pattern>
                        {"level":"%level","logger":"%logger{36}","message":"%msg","thread":"%thread",
                        "correlationId":"%X{correlationId}","userId":"%X{userId}",
                        "tenantId":"%X{tenantId}","exception":"%replace(%xThrowable){'\n','\\n'}"}
                    </pattern>
                </pattern>
                <arguments />
            </providers>
        </encoder>
    </appender>

    <!-- FILE: paylaşılan volume'a yaz -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/logs/app.log</file>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp />
                <pattern>
                    <pattern>
                        {"level":"%level","logger":"%logger{36}","message":"%msg","thread":"%thread",
                        "correlationId":"%X{correlationId}","userId":"%X{userId}",
                        "tenantId":"%X{tenantId}","exception":"%replace(%xThrowable){'\n','\\n'}"}
                    </pattern>
                </pattern>
                <arguments />
            </providers>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>/logs/app-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>50MB</maxFileSize>
            <maxHistory>7</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>
